'.source.cql':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*\\)'
    'increaseIndentPattern': '^\\s*(create|insert|delete|update)\\b|\\((?!.*\\))'
    'decreaseIndentPattern': '^\\s*\\)(?!=.*\\()'
